$grayBg: #F2F0F1
$lightGray: #dedcdc
$mainBlue: #293C4D

@font-face 
  font-family: 'mainFont'
  src: url('/src/assets/fonts/NotoSerifKhmer-VariableFont_wdth,wght.ttf')

@font-face 
  font-family: 'openBold'
  src: url('/src/assets/fonts/OpenSans-Bold.ttf')

@font-face 
  font-family: 'openRegular'
  src: url('/src/assets/fonts/OpenSans-Regular.ttf')

body
  background-color: $grayBg
  font-family: 'openRegular'
  color: $mainBlue

h1, h2, h3
  letter-spacing: -1px
  font-family: 'openBold'

label
  width: 100%
  font-size: 0.9em
  font-family: 'openBold'

select
  float: left

.btn
  font-family: 'openBold'
  font-size: 0.7em
  padding: 0.6em 2em
  background-color: $mainBlue
  margin-right: 5px
  border: 0

.form-control
  background-color: $lightGray
  border: none
  padding: 0.6em 1em

.clear
  width: 100%
  float: left
  height: 1px

.main-nav
  display: flex

.page-container
  padding: 2em 3em

.app-list
  .list-row
    display: flex
    border-bottom: 1px solid #ddd
    align-items: center
    p
      margin: 0
      font-size: 0.9em

